.container-div {
    background-color: #EEE;
color: white;
    background-color: black;
    flex-direction: column;
  }

  
  h1 {
    font-family: 'Merriweather', serif;
    margin-top: 20px;
    padding-top: 15px;
  }
  
  .desc {
    font-family: 'Merriweather', serif;
    color: white;
    text-transform: uppercase;
  }
  
  h2{
    margin: 20px;

    text-transform: uppercase;
    text-decoration-line: underline;
  }
  .img-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .pic {
   
        width: 50%;
        align-items: center;
        margin: 1%;
        box-shadow: -10px -10px 10px aliceblue;
        
       border: none;
    }
  
  
  p {
    text-align: justify;
    padding: 1%;
width: auto;
border-radius: 25px;
margin: 10px;
height: auto;

  }
  
  p, li {
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
  }
  
  .quote {
    font-weight: 900;
    font-family: 'Merriweather', serif;
    text-align: justify;
    color: aqua;
    text-shadow: 2px 2px 2px yellowgreen;
    font-size: 25px;
  }
  
  .lastLine {
    font-size: 1.5em;
  }